<!DOCTYPE html>
<html>
    <head>
        <title>ParkMe home</title>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel ="stylesheet" media="screen">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid" id="head">
                    <div class="navbar-header">
                        
                        <h1>Welcome to ParkMe</h1>
                        <br>
                    </div>
                        
                        <p><a href="/login">Login</a></p>
                        <p><a href="/api">Register</a></p>
                    </div>
        </nav>
        <h1> {{ var }}</h1>
    </body>
</html> 
