<!DOCTYPE html>
<html>
    <meta http-equiv="refresh" content="1"> 
    <head>
        <title>ParkMe home</title>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel ="stylesheet" media="screen">
        <!-- <link rel="stylesheet" type="text/css" href="welcome.css"> -->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid" id="head">
                    <div class="navbar-header">
                        
                        <h1>Welcome to ParkMe</h1>
                        <br>
                    </div>
                        
                        <p><a href="/login">Login</a></p>
                        <p><a href="/api">Register</a></p>
                    </div>
        </nav>
        <h1> {{ merch }}</h1>
        <h1> {{ var }}</h1>
        <h1> {{ var1 }}</h1>
        <h1> {{ var2 }}</h1>
        <h1> {{ var3 }}</h1>
        
    </body>
</html> 
